connect-common-master (2)/connect-common-master/connect-ftp-inbounds/src/main/app/lenovoftpinbound.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:connectlogger="http://www.mulesoft.org/schema/mule/connectlogger"
	xmlns:jms="http://www.mulesoft.org/schema/mule/jms"
	xmlns:file="http://www.mulesoft.org/schema/mule/file" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:ftp="http://www.mulesoft.org/schema/mule/ee/ftp" xmlns:quartz="http://www.mulesoft.org/schema/mule/quartz" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.mulesoft.org/schema/mule/connectlogger http://www.mulesoft.org/schema/mule/connectlogger/current/mule-connectlogger.xsd
http://www.mulesoft.org/schema/mule/jms http://www.mulesoft.org/schema/mule/jms/current/mule-jms.xsd
http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/quartz http://www.mulesoft.org/schema/mule/quartz/current/mule-quartz.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/ftp http://www.mulesoft.org/schema/mule/ee/ftp/current/mule-ftp-ee.xsd
http://www.mulesoft.org/schema/mule/file http://www.mulesoft.org/schema/mule/file/current/mule-file.xsd">
   
    <flow name="ftp2connectFlow">
        <quartz:inbound-endpoint jobName="lenovoftpJob" cronExpression="${connect.lenovo.cron.expr}" repeatInterval="0" responseTimeout="10000" doc:name="LenovoFTP-Quartz">
            <quartz:event-generator-job>
                <quartz:payload>1</quartz:payload>
            </quartz:event-generator-job>
        </quartz:inbound-endpoint>
        
         <!--  <quartz:inbound-endpoint jobName="Quartz1" cronExpression="${connect.i1knbd002.cron.expr}" repeatInterval="0" responseTimeout="10000" doc:name="Quartz1">
            <quartz:event-generator-job/>
        </quartz:inbound-endpoint> -->
        <set-variable variableName="source" value="lenovo" doc:name="Set Variable-source"/>
        
        <flow-ref name="connect-ftp-inboundsSub_Flow" doc:name="connect-ftp-inboundsSub_Flow"/>
           <choice doc:name="Choice">
            <when expression="#[null != payload.getEnterpriseHeader().getCustom()]">

                <connectlogger:info config-ref="Connectlogger__Configuration" logMessage="File moved to local directory" processState="102022101" doc:name="Connectlogger"/>

            </when>
            <otherwise>
                <connectlogger:info config-ref="Connectlogger__Configuration" logMessage="Custom property with Var Attachment path is empty" processState="102022120" doc:name="Connectlogger"/>
            </otherwise>
        </choice>

        <exception-strategy ref="mainFTPInboundflowChoiceExceptionStrategy" doc:name="Reference Exception Strategy"/>
        <!-- <component class="com.redn.connect.processor.CEMWithStagingLocations" doc:name="CEMWithStagingLocations"/>
        <object-to-byte-array-transformer doc:name="Object to Byte Array"/> -->
        
        </flow>
</mule>
