connect-common-production_v1.7/connect-as2/target/classes/signed-encrypted-receipt-sha2-receive.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:connectlogger="http://www.mulesoft.org/schema/mule/connectlogger" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:as2="http://www.mulesoft.org/schema/mule/as2" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/as2 http://www.mulesoft.org/schema/mule/as2/current/mule-as2.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/connectlogger http://www.mulesoft.org/schema/mule/connectlogger/current/mule-connectlogger.xsd">
   <!--  <http:connector name="HTTP_Signed_Encrypt_ReceiptSHA2_Receive" cookieSpec="netscape" validateConnections="true" sendBufferSize="0" receiveBufferSize="0" 
    receiveBacklog="0" clientSoTimeout="10000" serverSoTimeout="10000" socketSoLinger="0" doc:name="HTTP-HTTPS"/>
     -->
    <http:endpoint exchange-pattern="request-response" host="0.0.0.0" port="${connect.as2.signed.encryped.receipt-sha1.receive.http.port}" 
    connector-ref="HTTP_Signed_Encrypt_Receipt_Receive" method="POST" name="HTTP_AS2_Signed_Encrypt_ReceiptSHA2_Receive_EndPoint" doc:name="HTTP" 
    responseTimeout="${connect.as2.signed.encryped.receipt-sha1.receive.http.timeout}" path="${connect.as2.receive-sha2.http.path}"/>
    
    <as2:config name="AS2_Receive_Signed_Encrypt_ReceiptSHA2_Configuration" httpEndpointRef="HTTP_AS2_Signed_Encrypt_ReceiptSHA2_Receive_EndPoint" 
    doc:name="AS2: Configuration"/>
    
    <flow name="signed-encrypted-receipt-sha2-receiveFlow">
        <as2:receive config-ref="AS2_Receive_Signed_Encrypt_ReceiptSHA2_Configuration" requireSenderSigns="true" 
        requireSenderEncrypts="true"  invokeFlowBeforeSendReceipt="before-send-receipt-flow" 
        doc:name="AS2 (Streaming)" receiptSubject="Receipt Message from Connect" 
        keyStorePassword="${connect.as2.signed.encryped.receipt-sha1.receive.keyStorePassword}" 
        keyStorePath="${connect.as2.signed.encryped.receipt-sha1.receive.keyStorePath}"/>
        <connectlogger:info config-ref="Connectlogger__Configuration" logMessage=" AS2 (SHA256)  message from #[flowVars[AS2Constants.VAR_SOURCE_SYSTEM]] is successfully decrypted, verified and sent MDN back.  Forwarded the request to API Manager Component successfully" 
        processState="102009370" doc:name="Connectlogger"/>
    	<exception-strategy ref="globalChoiceExceptionStrategy" doc:name="Reference Exception Strategy"/>
    </flow>
</mule>
